.arabic {
    
    font: x-large srotFont, serif;
}

.container {
    max-width: 95vw;
}

@font-face {
    font-family: me_quran;
    src: url("./me_quran.ttf");
}

@font-face {
    font-family: srotFont;
    src: url("./ScheherazadeRegOT.ttf");
}
@font-face {
    font-family: whynot;
    src: url("https://quran-1f14.kxcdn.com/fonts/ttf/p11.ttf") format('truetype');
}

@font-face {
    font-family: noorfont;
    src: url("./noorehidayat.ttf");
}
@font-face {
    font-family: quranicfont;
    src: url("./arQuran1.ttf");
}
@font-face {
    font-family: qlmMajeed;
    src: url("./Al-Qalam-Quran-Majeed-1/Al\ Qalam\ Quran\ Majeed\ 1.ttf");
}

@font-face {
    font-family: hafs;
    src: url("./Hafs-ver13/UthmanicHafs1\ Ver13.otf");
}





great {
    cursor: pointer;
    background-color: yellow;
    color: black;
}

.translation {
    font-size: 17px;
}

.tableTranslation {
    display: table-cell;
}

.fullText {
    display: table-cell;
}

.shrinkArabic {
    display: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80vw;
    overflow-x: hidden;
    /* overflow-x: scroll; */
}

#showHideFull {
    display: none;
}

#contextMenu {
    width: 120px;
    user-select: none;
    z-index: 1;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: none;
    transition: 0.2s display ease-in;
}

#contextMenu .menu-options {
    list-style: none;
    padding: 10px 0;
    z-index: 1;
}

#contextMenu .menu-options .menu-option {
    font-weight: 500;
    z-index: 1;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

#contextMenu .menu-options .menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}