.arabic {
    font: 20px Zekr, serif;
    line-height: 1.8;
}

.container {
    max-width: 95vw;
}
.overflow{
    overflow: visible!important;
}

#finderMessage{
    justify-content: center;
    display: flex;
    font-size: 500%;
    color: red;
}

@font-face {
    font-family: me_quran;
    src: url("./me_quran.ttf");
}

@font-face {
    font-family: srotFont;
    src: url("./ScheherazadeRegOT.ttf");
}
@font-face {
    font-family: whynot;
    src: url("https://quran-1f14.kxcdn.com/fonts/ttf/p11.ttf") format('truetype');
}

@font-face {
    font-family: noorfont;
    src: url("./noorehidayat.ttf");
}
@font-face {
    font-family: quranicfont;
    src: url("./arQuran1.ttf");
}
@font-face {
    font-family: qlmMajeed;
    src: url("./Al-Qalam-Quran-Majeed-1/Al\ Qalam\ Quran\ Majeed\ 1.ttf");
}

@font-face {
    font-family: hafs;
    src: url("./Hafs-ver13/UthmanicHafs1\ Ver13.otf");
}

@font-face {
    font-family: Zekr;
    src: url("./ZEKRQURAN.TTF");
}

@font-face {
    font-family: ZekrBold;
    src: url("./ZEKRQURANBOLD.TTF");
}


body {
    background-color: #f9f4e8;
}

.sticky-top {
        background-color: #f9f4e8;
}

great {
    margin-right: -1;
    cursor: pointer;
    background-color: yellow;
    color: black;
}

.translation {
    font-size: 17px;
}

.tableTranslation {
    display: table-cell;
}

.fullText {
    display: table-cell;
}

.table-responsive{
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.shrinkArabic {
    display: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90vw;
    overflow: hidden; 
}

#showHideFull {
    display: none;
}

#contextMenu {
    width: 120px;
    user-select: none;
    z-index: 100;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: none;
    transition: 0.2s display ease-in;
}

#contextMenu .menu-options {
    list-style: none;
    padding: 10px 0;
    z-index: 1;
}

#contextMenu .menu-options .menu-option {
    font-weight: 500;
    z-index: 1;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

#contextMenu .menu-options .menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.sticky {
    position: sticky;
    top: 0; /* Sentinels adjust based on this position. */
    background-color: #f8f9fa;
    border-top-width: 0px!important;
    z-index: 100;
  }


.dark-mode {
  background-color: black;
  color: white;
}

.custom-mode {
  background-color: rgb(18, 16, 143);
  color: rgb(130, 153, 3);
}

/* Language button added by M A Eyler -- Feb 2022 */
#langButton {
    height: 28px; width: 28px;
    /* flaticon.com/free-icon/language_1246334 */
    background-image: url(/Kuran/image/language.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ff7;
    border: none;
    border-radius: 15px;
    transition: all 0.4s ease-out;
    user-select: none;
    cursor: pointer;
}
